<div class="rounded-lg border border-slate-200 bg-white <%= @padding %> text-center text-slate-600">
  <p><%= @message %></p>
  <% if content? %>
    <div class="mt-4"><%= content %></div>
  <% end %>
</div>
