<div data-controller="dialog"<% if @open_on_connect %> data-dialog-open-on-connect-value="true"<% end %>>
  <button type="button" data-action="click->dialog#open" class="<%= ButtonComponent::VARIANTS[:primary] %>">
    <%= @trigger_label %>
  </button>
  <dialog data-dialog-target="dialog" class="rounded-lg border border-slate-200 bg-white p-6 shadow-xl backdrop:bg-slate-900/20">
    <h2 class="mb-4 text-lg font-semibold text-slate-900"><%= @title %></h2>
    <%= content %>
  </dialog>
</div>
