<div class="min-w-[7rem]">
  <span class="block text-xs font-medium uppercase tracking-wide text-slate-400"><%= @label %></span>
  <%= tag.p(display_value, class: "mt-0.5 font-numeric #{value_css}", **@value_html) %>
</div>
