<div>
  <%= render BreadcrumbComponent.new(items: [
    { label: "Companies", url: companies_path },
    { label: "New", url: nil }
  ]) %>
  <div class="mb-6">
    <h1 class="text-2xl font-semibold text-slate-900">Add Company</h1>
  </div>
  <div class="max-w-2xl">
    <%= render "form" %>
  </div>
</div>
